/*---global style---*/

.pointer-cursor{
  cursor: pointer;
}

/*----home page----*/
.img_cover{
  width: 100%;
  height: auto;
}
.card-parncipale{
  background-color: rgb(236, 235, 235);
  position: relative;
}

.bg-menu{
  background-color: rgb(124, 218, 255);
  position: absolute;
  z-index: 2;
}

.card-info{
  position: absolute;
  z-index: 3;
  top: 18%;
  left: 4%;
  background-color: #FEC6B7;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.alert-infos{
  position: absolute;
  z-index: 4;
  top: 40%;
  left: 4%;
  font-size: 14px;
  background-color: rgb(124, 218, 255);
}
.btn-start{
  position: absolute;
  z-index: 4;
  top: 52%;
  left: 12%;
}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #3cbfe0 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  width: 180px;
}

.button-29:focus {
  box-shadow: #5e6ff2 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3cbfe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.how-work{
  /* display: none; */
  position: absolute;
  z-index: 6;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}